

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%; /* Ancho al 100% para que ocupe todo el ancho disponible */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* Estilo para los campos de entrada de fecha y hora */
#fechaInicio,
#fechaFinal,
#horaInicial,
#horaFinal {
    display: inline-block; /* Hacer que los elementos aparezcan en línea */
    width: auto; /* Ancho automático para ajustar al contenido */
    margin-right: 10px; /* Espacio derecho entre los elementos (ajusta según sea necesario) */
    width: 23%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


input[type="text"],
input[type="time"],
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#map {
    height: 600px; /* Ajusta la altura según sea necesario */
    width: 100%; /* Ancho al 100% para que ocupe todo el ancho disponible */
}

/* Estilo para el label de fecha seleccionada */
#selected-date-label {
    position: relative;
    top: 10px; /* Ajusta la posición vertical según sea necesario */
    background-color: white; /* Fondo blanco para que el texto sea legible */
    padding: 5px; /* Espaciado interno para el label */
    border: 1px solid #ccc; /* Borde para el label */
    border-radius: 5px; /* Borde redondeado */
}

/* Estilo para el contenedor del slider */
#date-slider-container {
    position: relative; /* Permite que el contenedor sea el contexto de posición para el slider */
    margin-top: 10px; /* Espacio para dejar lugar al label de fecha seleccionada */
}


/* Estilo para la barra de navegación */
.navbar {
    background-color: #007bff; /* Color de fondo de la barra de navegación */
    color: #fff; /* Color del texto en la barra de navegación */
    padding: 10px 0; /* Espaciado interno superior e inferior */
}

/* Estilo para la lista no ordenada (ul) */
.navbar ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    margin: 0; /* Elimina el margen exterior */
    padding: 0; /* Elimina el espaciado interno */
    text-align: center; /* Centra los elementos de la lista horizontalmente */
}

/* Estilo para los elementos de la lista (li) */
.navbar li {
    display: inline; /* Muestra los elementos en línea (horizontalmente) */
    margin: 0 10px; /* Espacio derecho e izquierdo entre elementos */
}

/* Estilo para los enlaces (a) */
.navbar a {
    text-decoration: none; /* Elimina la decoración de subrayado de los enlaces */
    color: #fff; /* Color del texto de los enlaces */
    font-weight: bold; /* Texto en negrita */
    font-size: 16px; /* Tamaño del texto */
}

/* Estilo para los enlaces al pasar el mouse */
.navbar a:hover {
    text-decoration: underline; /* Subraya los enlaces al pasar el mouse */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar-brand img {
    width: 230px;
    height: 230px;
    color: white;
    display: flex;
    margin: 0 auto;
}
.navbar ul li a.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }